html{
  height: 100vh;
}
#app{
  height: inherit;
}
.admin-wrap{
  height: inherit;
  display: flex;

  & .admin-left{
    width: 90px;
    background: $colorGreyBlueDark;
  }

  & .admin-content-wrap{
    display: flex;
    flex-direction: column;
    flex: auto;
    background: $colorGreyBlue_050;

    & .admin-head{
      background: $colorGrey_300;
    }

    & .admin-content{
      flex: 1 auto;
    }

    & .admin-footer{
      height: 30px;
      background: $colorGrey_300;
    }
  }
}

.admin-menu{
  display: block;
  text-align: center;
  word-wrap: break-word;

  &.active {
    color: $colorOrange;
  }
  & .ui-icon{
    font-size: 35px;
  }

}