// mixin background
@mixin Background {
  &.bg-wite {
    background: $white;
  }
  &.bg-black {
    background: $black;
  }
  &.bg-light {
    background: $light;
  }
  &.bg-dark {
    background: $dark;
  }
  &.bg-primary {
    background: $primary;
  }
  &.bg-link {
    background: $link;
  }
  &.bg-info {
    background: $info;
  }
  &.bg-success {
    background: $success;
  }
  &.bg-warning {
    background: $warning;
  }
  &.bg-danger {
    background: $danger;
  }
}