form{
  width: 100%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=checkbox],
input[type=radio],
textarea, select {
  outline: none;
  background: none;
}

// input default
.ui-input {
  padding: 10px;
  border-radius: 0px;
  width: 100%;

  @include Border;
}

// input in btn
.ui-input-btn {
  position: relative;

  & input {
    padding: 20px;
  }

  & button {
    position: absolute;
    right: 11px;
    top: 11px;
  }
}

// input line
.ui-input-line {
  background: transparent;
  border: none;
  padding: 10px;
  width: 100%;

  @include BorderBottom;
}

// checkbox
input[type=checkbox] {
  display: none;
}

.ui-checkbox {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  width: 20px;
  height: 20px;
  @include Colors;
}

.ui-checkbox:before {
  content: '\E835';
  font-family: $fontIcon;
}

input[type=checkbox]:checked + label.ui-checkbox:before {
  content: "\E834";
  font-family: $fontIcon;
}

// radio
input[type=radio] {
  display: none;
}

.ui-radio {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  width: 20px;
  height: 20px;
  color: #8CC34A;
  @include Colors;
}

.ui-radio:before {
  content: "\E836";
  font-family: $fontIcon;
}

input[type=radio]:checked + label.ui-radio:before {
  content: "\E837";
  font-family: $fontIcon;
}


