.ui-navbar {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: $colorWite;
  font-family: $fontRegular;
  font-size: $fontSize_2;
  color: $colorGreyBlue;

  & ul{
    display: flex;
    align-items: center;
    width: inherit;

    & li{
      display: flex;
      align-items: center;
      padding: 10px 15px;
      cursor: pointer;

      &:hover{
        color: $colorBlue;
      }
    }
  }
}