.ui-tabs-box {
  display: flex;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid $colorGreyBlue_100;
  background: $colorWite;
  font-family: $fontRegular;
  font-size: $fontSize_2;
  color: $colorGreyBlue;

  & ul {
    display: flex;
    align-items: center;
    width: inherit;

    & li {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border: 1px solid transparent;
      margin-bottom: -1px;
      cursor: pointer;

      &.active {
        border-color: $colorGreyBlue_100;
        border-bottom-color: transparent !important;
        border-radius: 3px 3px 0 0;
        background: $colorWite;
        color: $colorBlue;
      }

      &:hover {
        background: $colorGreyBlue_100;
      }
    }
  }
}